{% extends 'base.html' %}
{% load static %}
{% block body %}
<h2 class="text-center">SLEEP APNEA DETECTION</h2>
<div class="container">
    <br>
    <img src="{% static 'snoring-man.jpg'%}" alt="" >
    <br>
    <p class="text-center">Sleep apnea is a disorder that causes you to stop breathing while asleep. Your brain tries to protect you by waking you up enough to breathe, but this prevents restful, healthy sleep. Over time, this condition can cause serious complications. However, this condition is often very manageable, especially with close adherence to prescribed treatments.</p>
</div>
<div class="container">
    <br>
    <img src="{% static 'sleep-apnea-cpap.jpg'%}" alt="">
    <br>
    <b><h3>Who does sleep apnea affect?</h3></b>
    <p>Sleep apnea can happen to anyone, ranging from infants and children to older adults. Obstructive sleep apnea is more common in certain circumstances and groups of people:
</p>
<ul>
    <li> Before age 50, it's more common in men and people assigned male at birth (AMAB).</li>
    <li> People are more likely to develop it as they get older.</li>
    <li> After age 50, it affects women and people assigned female at birth (AFAB) at the same rate.</li>
    <li>Having excess weight or obesity strongly increases the risk of developing it.</li>
    <li> It's more common in people who are Black, Hispanic or of Asian descent.</li>
</ul>
</div>


{% endblock%}